.front-page {
    .content-area {
        .entry-content {
            position: relative; 
    
            .entry-title {
                visibility: hidden;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h2 {
            font-size: 2.4rem;
            font-weight: 400;
            margin: 40px;
            
        }
    
    }

    .front-tax-products {
        display:flex;
        justify-content: space-between;
        text-align: center;

        .front-shop-block {
            border: 1px solid #e1e1e1;
            border-top-width: 5px;
            padding: 10px;
            flex-basis: 23%;
            padding-bottom: 25px;
            
            img {
                height: 70px;
                width: 70px;
            }

            p {
                text-align: center;
                // padding-bottom: 30px;
                // padding-top: 20px;
            }

            a {
                background-color: $color__link;
                box-shadow: none;
                border-radius: 0;
                color: $color__background-body;
                padding: 0.75rem 1.5rem;
                font-size: 0.9rem;
                text-shadow: none;
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase; 
            }
        }
    
    }
    
    .front-journal-posts {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
        
        .front-post {
            border: 1px solid #e1e1e1;
            width: 350px;


            img {
                height: 250px;
                object-fit: cover; 
                padding-bottom: 5px;
                background-color: $color__background-pre;
            }

            .front-post-info {
                padding: 0.75rem;
                .entry-meta {
                    font-size: 0.75rem;
                }
                .entry-title {
                    margin: 0;
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                }
            }
        }
        
    }
}