/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site  {
    margin: 0 auto;
   
}

.container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.site-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsla(0,0%,100%,.85);
    padding: 0.5rem 10rem;
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    width: 100%;
    z-index: 3;
    
    .site-branding {
        width:50px;
        height:30px;
    }

    .main-navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-family: Novecento Sans Web,sans-serif;
       
        .menu-item {
            padding: 0 15px;
            text-transform: uppercase;
        }
    }
    .search-form {
        fieldset {
            border: none;
            padding: 0;
           
            .search-toggle {
                border: none;
                background: transparent;
                box-shadow: none;
                color: $color__link;
                font-size: 0.9rem;
                float: left;

            }
            .search-field {
                display: none;
                border: none;
                background: transparent;
                box-shadow: none;
                font-size: 1rem;
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase;
                padding-left: 10px;
                padding-top: 0;
            }
            .search-field:focus {
                outline: none;
            }
        }
    } 
}

          
.site-content {
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 0;
    display: flex;

    .content-area {
        flex: 3;
        .find-us-text {
            padding-right: 40px;
        }
        h2 {
            font-size: 2rem;
        }
        .wpcf7-form {
            label {
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase;  
            }
            input[type=submit] {
                background-color: $color__link;
                box-shadow: none;
                border-radius: 0;
                color: $color__background-body;
                padding: 0.75rem 1.5rem;
                font-size: 0.9rem;
                text-shadow: none;
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase;
            }
            input[type=submit]:hover {
                background-color: $color__button-hover;
            }

            input {
                background-color: $color__background-pre;
            }

            textarea {
                background-color: $color__background-pre;
                width: 93%;
            }
        }
        
        .buttons-wrapper {
            margin: 1rem 0;
            .link-button {
                border: 1px solid #000;
                color: #000;
                border-radius: 0;
                background-color: transparent;
                padding: 13px 30px;
                font-family: Novecento Sans Web,sans-serif;
                font-size: 0.9rem;

                i {
                    padding-right: 10px;
                }
            }
            .link-button:hover {
                background-color: $color__link;
                box-shadow: none;
                text-shadow: none;
                color: $color__background-body;
            }
        }  
    }

    .widget-area {
        flex: 1;
        border-left: 1px solid #e1e1e1;
        padding-top: 2rem;
        padding-left: 3rem;

        .widget {
            .contact-meta {
                margin-bottom: 0.5rem;
                i {
                    margin-right: 0.7rem;
                    font-size: 13px;
                }
            }
            
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .day-of-week {
                font-weight: bold;
            }
        }
    }
}







