/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site {
    margin: 0 auto;
   
}

.container {
    width: 1120px;
}
.site-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 10rem;
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    width: 100%;
    

    .site-branding {
        width:50px;
        height:30px;
    }

    .main-navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-family: Novecento Sans Web,sans-serif;
        fieldset {
            border: none;
            padding: 0;
        }
        
        .menu-item {
            padding: 0 15px;
            text-transform: uppercase;
        }
    }
}
.site-content {
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 0;
    display: flex;

    .content-area {
        flex: 3;
        // padding-top: 3rem;
        // padding-right: 3rem;

        h2 {
            font-size: 2rem;
        }
        input[type=submit] {
            background-color: $color__link;
            box-shadow: none;
            border-radius: 0;
            color: $color__background-body;
            padding: 0.75rem 1.5rem;
            font-size: 0.9rem;
            text-shadow: none;
        }

        .entry-header {
            // position: relative;
        
            .entry-title{
            //     position: absolute;
            //     top: 10px;
            //     background-color: $color__link;
            //     border: 1px;
            //     color: $color__background-body;
            }

            img {
                // width: 1400px;
            }
        }

        
    }

    .widget-area {
        flex: 1;
        border-left: 1px solid #e1e1e1;
        padding-top: 2rem;
        padding-left: 3rem;

        .widget {
            .contact-meta {
                margin-bottom: 0.5rem;
                i {
                    margin-right: 0.7rem;
                    font-size: 13px;
                   
                }
            }
            
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.site-footer {
    // background-image: url ("Inhabitant-theme/images/dark-wood.png");
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;

    #footer-sidebar1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .widget {
      
        
    }
}

/* Front page */
/* about */

.about-page, .front-page {
    .site-header {
        z-index: 3;
    }
    max-width: 1500px;
    .site {
       max-width: 1500px;
       position: relative;

    } 
    .site-header {
        position: absolute;
        border-bottom: none;
        a {
            color: white;
        }
    }

    .front-page {
        .entry-content {
            position: relative; 

            .entry-title {
                visibility: hidden;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .site-content {
        display: flex;
        width: 100%;
        padding: 0;

        .entry-header {
            display: none;
        }

        .entry-content {
            margin: 0;
            .hero-image-header {
                width:100%;
                height:100vh;
                .entry-title {
                    color: #fff;
                    font-size: 3rem;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
        h2 {
            color: #2f1339;
            text-transform: uppercase;
            font-size: 2.1rem;
            text-align: center;
            max-width: 800px;
            margin: 30px 400px;
        }
        
        p {
            text-align: left;
            max-width: 800px;
            margin: 30px 400px;
        }
    
        .widget-area {
            display: none;        
        }
    }
    
}






